/* Remove Margins from fontello font for standalone icons */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: 0;
}

html {
    font-size: 62.5%;
}

body { 
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    background: #fffffd;
}

/* Fullscreen background depending on screensize */
header {
    height: 100vh;
    background: url(../img/fuji_shadow_small.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 907px) { 
    header {
         background: url(../img/fuji_shadow.jpg) no-repeat top center; 
         background-size: cover;
    } 
}
@media (min-width: 1367px) { 
    header {
         background: url(../img/fuji_shadow_hd.jpg) no-repeat top center; 
         background-size: cover;
    } 
}
@media (min-width: 1921px) { 
    header { 
        background: url(../img/fuji_shadow_4k.jpg) no-repeat top center; 
        background-size: cover;
    } 
}

header .banner {
    width: 85%;
}
 
header .banner h1 {
    margin: 0 auto 18px auto;
    font-weight: 300;
    font-size: 4rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
@media (min-width: 550px) {
    header .banner h1 { font-size: 5rem; }
}
header .banner h6 {
    margin: 0 auto;
    width: 70%;
    font-weight: 300;
    font-size: 1.5rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner h6 em {
    color: #444;
}
header .banner hr {
    width: 60%;
    margin: 18px auto;
    border-color: rgba(34, 34, 34, .5);
}
 
/* header social links */
header ul {
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header li {
    display: inline-block;
    margin: 0 15px 9px 15px;
}
header li a { color: #fff; }
header li a:hover { color: #66ccff}